<?xml version="1.0" encoding="UTF-8" ?>
<!--
	$Id:build.xml 52 2007-10-22 22:01:58Z fehler $
	
	Copyright (c) 2007 Christian Fehler
-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="[%t: %C{1}.%M]%n%m%n"/> 
    </layout> 
  </appender> 

  <root> 
    <priority value ="off" /> 
  </root>
</log4j:configuration>